$main-white: #F5F5F5;
$main-black: #2B283A;
$main-orange: #F47D27;
$email-color: #374151;
$main-blue: #3464e8;
$paragraph-color: #4A4E74;
$social-bg-color: #D6D3D8;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  &::before,
  ::after {
    box-sizing: inherit;
  }
}

html {
  font-size: 16px;
}

body {
  font-family: "Inter", sans-serif;
  width: 100vw;
  min-height: 100vh;

  &::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom,
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4)),
      url(./images/bg.jpg);

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.5;
    z-index: -1;
  }
}

.App {
  width: 20rem;
  background-color: $main-white;
  display: flex;
  flex-direction: column;
  margin: 3rem auto 0 auto;
  border-radius: 10px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;

  .profile-photo {
    width: 20rem;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }

  h3 {
    font-size: 1.625rem;
    font-weight: 700;
    color: $main-black;
  }

  .job-title {
    color: $main-orange;
    font-size: 0.875rem;
  }

  p>a {
    text-decoration: none;
    font-size: 0.75rem;
    color: $main-black;
  }

  .contact {
    margin: 1.2rem 0 1.8rem 0;

    .email-btn {
      background-color: $main-white;
      border: none;
      padding: 0.5rem 1.5rem 0.5rem 1.5rem;
      border-radius: 10px;
      border: 2px solid $main-black;
      margin-right: 10px;

      .email-icon {
        margin-right: 0.5rem;
      }

      a {
        text-decoration: none;
        color: $email-color;
        font-size: 0.875rem;
        font-weight: 500;
        display: inline-block;
        position: relative;
        z-index: 1;
        padding: 1rem 1.8rem;
        margin: -1rem -1.8rem;
      }
    }



    .linkedin-btn {
      background-color: $main-blue;
      border: none;
      padding: 0.5rem 1.5rem 0.5rem 1.5rem;
      border-radius: 10px;
      border: 2px solid $main-blue;
      margin-left: 10px;

      .linkedin-icon {
        margin-right: 0.5rem;
      }

      a {
        text-decoration: none;
        color: $main-white;
        font-size: 0.875rem;
        font-weight: 500;
        display: inline-block;
        position: relative;
        z-index: 1;
        padding: 1rem 1.8rem;
        margin: -1rem -1.8rem;

      }
    }
  }
}

.about,
.interests {
  margin: 0 2rem 1.5rem 2rem;

  h3 {
    margin-bottom: 0.8rem;
    font-size: 1.125rem;
    color: $main-black;
    font-weight: 700;
  }

  p {
    font-size: 0.75rem;
    line-height: 1.2rem;
    color: $paragraph-color;
    text-align: justify;
    text-justify: inter-word;
  }
}

.social {
  height: 4.35rem;
  background-color: $social-bg-color;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;

  a {
    font-size: 2rem;
    text-decoration: none;
    color: rgba($email-color, 0.5);
  }
}