$main-white: white;


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  &::before,
  ::after {
    box-sizing: inherit;
  }
}

html {
  font-size: 16px;
}

body {
  width: 100vw;
  min-height: 100vh;
  background-image: url(./images/bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.App {
  width: 30vw;
  min-height: 100vh;
  background-color: $main-white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.info {
  .profile-photo {
    width: 30vw;
  }
}